.mpuStatusPanelContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.mpuRatioCircular {
    width: 200px;
    height: 250px;
    margin: 10px;
}